.link, 
.link:visited,
.link:active{
    text-align: center; 
    font-weight: bold;
    color: white;
    padding: 9px 30px;
    margin-left: 5px;
    text-decoration: none;
}

.link:hover{
    background-color: #086d3bbb;
}
