.App {
  text-align: center;
  width:900px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 920px) {
  .App  {
    width:90%;
  }
}

@media screen and (max-width: 400px) {
  .App  {
    width:350px;
  }
}