.App {
  text-align: center;
  width:900px;
  margin: 20px auto;
}

.App > section {
  background-color: #201b1b9f;
  padding: 10px;
}

@media screen and (max-width: 920px) {
  .App  {
    width:90%;
  }
}

@media screen and (max-width: 400px) {
  .App  {
    width:350px;
  }
}